@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  background: #e9dbc4;
  max-width: 1440px;
  margin: auto;
}

.higher__container {
  margin: 1rem auto;
  width: 90%;
  padding: 1rem;
  border-radius: 5px;
  background: #e9dbc4;
  box-shadow: inset 11px 11px 22px #c6baa7, inset -11px -11px 22px #fffce1;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin: 1rem auto;
  border-radius: 5px;
  background: #fba90e;

  &__title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bolder;
    margin: auto;
    text-align: center;
    width: 80%;
    color: white;
    font-size: 2.5rem;
  }
}

.calculator {
  width: max-content;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  background: #fba90e;
  box-shadow: 11px 11px 22px #d5900c, -11px -11px 22px #ffc210;

  table {
    color: black;
    #numDisplay {
      overflow: scroll;
      background-color: #ffc210;
      padding: 10px;
      border-radius: 5px;
    }
    button {
      font-family: "Josefin Sans", sans-serif;
      border: solid 1px white;
      border-radius: 5px;
      width: 30px;
      margin: 5px;
    }
  }
}
